@media (max-width: 768px) {
	.pdf-attachments {
		gap: 10px;
		overflow-x: auto;
		flex-wrap: initial;
		margin: 0 0 30px;

		& &-item {
			width: 100%;
			padding: 0;
			background-color: $white-color;
			box-shadow: initial;
			max-width: 500px;
			margin: 0 auto !important;
		}
	}
}
.pdf-archive__link {
	display: flex;
	align-items: center;
	color: #214972;
	font-size: 12px;
	line-height: 16px;
	text-align: right;
	position: absolute;
	z-index: 1;
	right: 0;
	gap: 10px;
	text-decoration: none;

	svg {
		width: 10px;
		height: 10px;
	}
}
@media screen and (max-width: 767px) {
	.pdf-archive__link {
		display: none;
	}
}