.swiper-container.two{
	padding: 0 22px 26px;
	@media (min-width: 576px) {
		padding: 0;
	}
	.swiper-wrapper{
		@media (min-width: 576px) {
			padding-bottom: 10px;
		}
	}
	.swiper-slide{
		height: 570px;
	}
	.author_column__pagination{

	}
	@media (min-width: 576px) {
		.author_column__pagination{
			display: none;
		}
	}

	.swiper-pagination-bullet-active{
		margin: 0;
	}
}
.author-column-slider-card {
	background: #ffffff;
	box-shadow: 0px 3px 4px rgba(125, 125, 125, 0.25),
		0px -3px 4px rgba(125, 125, 125, 0.1);
	padding: 20px 40px !important;
	width: 300px;

	&.swiper-slide:not(.swiper-slide-active) {
		filter: blur(1px);
	}
	&.swiper-slide.swiper-slide-active {
		position: relative;
		border: 1px solid $blue-color;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		@media (min-width: 576px) {
			top: 10px;
		}
	}

	&__image {
		text-align: center;
		overflow: hidden;

		a{
			img {
				width: 218px;
				height: 218px;
				object-fit: cover;
				margin: 0px auto;
				display: block;
			}
		}

		margin-bottom: 20px;
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	&__title {
		font-family: "Noto Sans";
		font-style: normal;
		font-weight: 700;
		font-size: 23px;
		line-height: 32px;
		text-align: center;
		color: $black-color;
		margin-bottom: 20px;
	}

	.content-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
	}

	&__post {
		.title {
			font-family: "Noto Sans";
			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 23px;

			color: $black-color;

			margin-bottom: 20px;
		}

		.content {
			font-family: "Noto Sans";
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 23px;

			color: $black-color;
			margin-bottom: 10px;

			p {
				max-height: 178px;
				height: 100%;
				overflow: hidden;
				margin: 0px;
			}
		}

		max-height: 178px;
		overflow: hidden;
		margin-bottom: 10px;

		position: relative;

		&::after {
			content: "";
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 100%;

			position: absolute;
			background: linear-gradient(
				360deg,
				#ffffff 0,
				rgba(255, 255, 255, 0.1) 69%
			);
		}
	}

	&__post-link {
		a {
			display: flex;
			justify-content: space-between;
			font-family: "Noto Sans";
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
			line-height: 16px;

			color: $black60-color;
			text-decoration: none;

			svg {
				height: 12px;
				width: 12px;
			}
		}
	}
}
