.gl-slider{
  background: #f7f7f7;
  padding: 15px 10px;
  border-radius: 1%;
}
.gl-swiper{
  margin-bottom: 10px;
}
.gl-swiper,
.thumb-swiper{
  position: relative;
  overflow: hidden;
}
.gl-swiper-wrapper,
.thumb-swiper-wrapper{
  position: relative;
  width: 100%;
  height: auto!important;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  box-sizing: content-box;
}
.gl-swiper-slide{
  max-height: 0;
  transition: max-height 0.15s ease-out;
}
.gl-swiper-slide.swiper-slide-active{
  max-height: 10000px;
}
.gl-swiper-slide,
.thumb-swiper-slide{
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;

  position: relative;
}
.thumb-swiper-button-prev,
.thumb-swiper-button-next{
  position: absolute;
  top: 50%;
  width: 40px;
  height: 41px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  background-size: 35px 35px;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #214972;
  background-color: #62707e;
  border-radius: 10%;
  transition: all .3s linear;
}
.thumb-swiper-button-prev:not(.swiper-button-disabled):hover,
.thumb-swiper-button-next:not(.swiper-button-disabled):hover,
.thumb-swiper-button-prev:not(.swiper-button-disabled):active,
.thumb-swiper-button-next:not(.swiper-button-disabled):active,
.thumb-swiper-button-prev:not(.swiper-button-disabled):focus,
.thumb-swiper-button-next:not(.swiper-button-disabled):focus{
  background-color: #ced3e3;
  box-shadow: 0px 2px 7px rgb(0,0,0);
}
.thumb-swiper-button-prev:after,
.thumb-swiper-button-next:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}
.thumb-swiper-button-prev:after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Crect id='Rectangle' fill-rule='nonzero' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cpath d='M14,18 L8.35355,12.3536 C8.15829,12.1583 8.15829,11.8417 8.35355,11.6464 L14,6' id='Path' stroke='%23214972' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.thumb-swiper-button-next:after{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg%3E%3Crect fill-rule='nonzero' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3Cpath d='M10,18 L15.6464,12.3536 C15.8417,12.1583 15.8417,11.8417 15.6464,11.6464 L10,6' id='Path' stroke='%23214972' stroke-width='2' stroke-linecap='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.thumb-swiper-button-prev {
  left: 3px;
}
.thumb-swiper-button-next{
  right: 3px;
}
.thumb-swiper-slide{
  width: 30%;
  opacity: .6;
  transition: opacity .3s ease 0s;
}
.thumb-swiper-slide.swiper-slide-thumb-active{
  opacity: 1;
}
.thumb-slider__image{
  position: relative;
  height: 0;
  border: none;
  padding-top: 68%;
  background-color: #e7e7e7;
}
.thumb-slider__image img{
  height: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eee;
}
.gl-slider__link{
  display: block;
  position: relative;
  height: 0;
  border: none;
  padding-top: 68%;
  background-color: #e7e7e7;
}
.gl-slider__image img{
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  right: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #eee;
}
.gl-slide-content{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  font-size: 1em;
  line-height: 1.1;
  padding: 1em;
  color: #d7d6d6;
  background-color: #9999998f;
}
.gl-slide-copywrite{
  margin-bottom: 0.5em;
  font-size: 1.1em;
  color: #ffffff;
}

.lightboxOverlay{
  opacity: .9
}
.lb-data .lb-details{
  width: 90%;
}
.lb-data .lb-caption{
  display: block;
  padding: 1em;
  font-size: 1.3em;
  font-weight: 500;
  line-height: 1.1;
  color: #ffffff;
}
.lb-closeContainer{
  padding-top: 1em;
}

@media (max-width: 870px) {
  .gl-slide-content{
    font-size: calc((1vw + 1vh) * .9);
  }
  .gl-slide-copywrite{
    font-size: calc((1vw + 1vh) * 1);
  }
  .thumb-swiper-button-prev,
  .thumb-swiper-button-next{
    display: none;
  }

}
@media (max-width: 600px) {
  .lb-data .lb-caption{
    font-size: 1.1em;
    line-height: 1.3;
  }
}