.radio-minsk {

  .radio-player,
  .mobile-radio-player {
    max-width: 140px;
    cursor: pointer;
    height: max-content;

    &__title {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 23px;
      color: #d91e23;
      text-transform: uppercase;
      margin-bottom: 5px;
      display: block;
      text-align: center;
    }

    &__freq-view {
      background-color: $black60-color;
      width: 100%;
      padding: 5px;
      box-shadow: 0px 3px 4px rgb(125 125 125 / 25%),
      0px -3px 4px rgb(125 125 125 / 10%);
      background-color: #f2f2f2;
      display: block;

      text-decoration: none;

      text-align: center;

      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 700;
      font-size: 10px;
      color: #d91e23;
    }

    &__container {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 10px;
    }

    &__image {
      width: 100%;
      max-height: 34px;
      max-width: 140px;
      background: url('../../images/sprites.png') -35px -66px no-repeat;
    }

    &__btn {
      height: 22px;
      width: 22px;
      min-height: 22px;
      min-width: 22px;
      background: #eb261d;
      border-radius: 50%;
      box-shadow: 1px 1px 7px -2px black;
      box-shadow: 0px 3px 4px rgb(125 125 125 / 25%),
      0px -3px 4px rgb(125 125 125 / 10%);
    }
  }

  .radio-minsk-info {
    display: flex;
    gap: 40px;

    .content,
    .mobile-content {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: $black-color;
    }

    .image img {
      max-width: unset;
    }

    margin-bottom: 30px;
  }

  .radio-freq-list {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;

    .radio-freq-list__item {
      width: calc(100% / 5);
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 3px;
      padding: 15px;
      background: $white-color;
      box-shadow: 0px 3px 4px rgba(125, 125, 125, 0.25),
      0px -3px 4px rgba(125, 125, 125, 0.1);
      transition: 0.3s;

      &:hover {
        transform: translateY(-5px);
      }

      svg {
        max-width: 20px;
      }

      .radio-freq-item__city {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: $black-color;
      }

      .radio-freq-item__freq {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        color: $red-color;
      }
    }
  }

  .block-title {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    color: $black-color;
    margin-bottom: 25px;
  }

  .card-list {

    .card-item {
      height: 100%;
      max-width: 400px;
      padding: 10px;
      margin: 0 auto;
      background: $white-color;
      box-shadow: 0 3px 4px rgba(125, 125, 125, 0.25),
      0px -3px 4px rgba(125, 125, 125, 0.1);

      &__image {
        margin-bottom: 10px;

        img {
          width: 100%;
          max-height: 240px;
          object-fit: cover;
        }
      }

      &__title {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: $black-color;
        margin-bottom: 10px;
      }

      &__subtitle {
        font-family: "Noto Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        text-align: center;
        color: $black-color;
      }
    }
  }

  #programs{
    position: relative;
    .programs-list{
      margin: 0 20px;
    }
  }
  .programs-list {
    position: relative;
    padding-bottom: 30px;
    overflow: hidden;
  }
  .program-card{
    padding: 5px;
  }

  .contacts {
    margin: 30px 0px 40px 0px;

    .contacts-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 30px;

      .contacts-item {
        &__title {
          font-family: "Noto Sans";
          font-style: normal;
          font-weight: 700;
          font-size: 23px;
          line-height: 32px;
          color: $black-color;
          margin-bottom: 15px;
        }

        &__content {
          p {
            font-family: "Noto Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 23px;
            color: $black-color;
          }

          .radio-minsk__btn {
            margin: 0px;
          }

          ul {
            list-style: square;
            padding-left: 20px;

            li {
              font-family: "Noto Sans";
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 23px;
              color: $black-color;

              &::marker {
                height: 5px;
                width: 5px;
                color: $blue-color;
              }

              b {
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
  .social-icons {
    display: flex;
    gap: 30px;
    align-items: stretch;

    .social-icon__wparapper {
      display: flex;

      > a {
        display: flex;
        justify-content: center;
        align-items: center;

        img, svg {
          width: 40px !important;
          height: 100%;
          max-height: 30px;
        }
      }
    }

  }

  #team{
    position: relative;
    .team-list{
      margin: 0 20px 30px;
    }
  }
  .team-list {
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;

    .team-wrapper{
      padding: 25px 0;
    }
    .card-item{
      max-width: 320px;
    }
    .swiper-slide-active {
      transition: all .3s linear;
      transform: scale(1.1);
    }
  }

  #advertising {
    margin-bottom: 30px;
  }
  .radio-minsk__btn {
    background: $blue-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: $white-color;
    text-decoration: none;
    display: block;
    margin: 0px auto;
    width: fit-content;

    &:hover {
      background: #2B5E92;
    }

    &:focus {
      background: #9CB8D3
    }
  }
}

@media (max-width: 1099px) {
  .radio-minsk {
    .team-list {
      .swiper-slide-active {
        transform: none;
      }
    }
  }

}

@media (max-width: 1024px) {
  .radio-minsk {
    .radio-freq-list {
      gap: 6px;

      .radio-freq-list__item {
        width: 19%;
        padding: 11px;

        .radio-freq-item__freq {
          font-size: 12px;
        }

        .radio-freq-item__city {
          font-size: 12px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .mobile-radio-player {
    display: none;
  }
  .mobile-content {
    display: none;
  }
}

@media (max-width: 768px) {
  .radio-player {
    display: none;
  }
  .radio-minsk {

    .radio-minsk-info {
      margin-bottom: 10px;

      .card-list {
        .card-item__subtitle {
          margin-bottom: 14px;
        }
      }

      .content {
        display: none;
      }
    }

    .radio-freq-list {
      display: grid;
    }

    .contacts {

      .contacts-list {
        display: grid;
        grid-template-columns: none;
        row-gap: 30px;
      }
    }
  }

  .mobile-content {
    font-size: 16px;
    color: $black-color;
    margin-bottom: 8px;
  }
}

@media (max-width: 480px) {
  .radio-minsk {
    .contacts {
      .contacts-list {
        .contacts-item__title {
          font-size: 20px;
        }

        .contacts-item__content ul li {
          font-size: 15px;
        }

        .contacts-item__content p {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .contacts-item__content {
    width: 90%;
  }
}
