.tv-programme {
  &__title {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 32px;
    color: $black-color;
    text-align: center;
    margin-bottom: 30px;
  }

  .tv-programme_container {
    p {
      font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: $black-color;

      &:first-child {
        margin-top: 30px;
      }

      &:not(:last-child) {
        margin-bottom: 15px;
      }

      &:last-child {
        margin-bottom: 30px;
      }
    }
  }

  &__text {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: $black-color;

    &:first-child {
      margin-top: 30px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  .tv-controls {
    margin-top: 35px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    @media (min-width: 1190px) {
      flex-wrap: nowrap;
    }

    &__day-select {
      position: relative;
      overflow: hidden;
      padding-bottom: 30px;

      @media(max-width: 1000px){
        margin-right: 23px;
        margin-left: 23px;
      }
      .day-select-list__pagination{
        display: flex;
        @media (min-width: 1001px) {
          display: none;
        }
      }
    }

    .day-select-list {
      display: flex;
      align-items: center;
      gap: 10px;
      @media(max-width: 1000px){
        gap: 0;
      }

      .day-select-item {
        width: auto;
        padding: 5px;

        button {
          transition: all 0.2s ease-out;
          font-family: "Noto Sans", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 23px;
          color: $white-color;

          padding: 10px 20px;

          background: $blue-color;
          box-shadow: 0px 3px 4px rgba(125, 125, 125, 0.25),
          0px -3px 4px rgba(125, 125, 125, 0.1);
          border-radius: 5px;

          &.no-selected {
            background: $blue60-color;
            font-size: 14px;
            line-height: 22px;

            &:hover {
              background: $blue-color;
            }

            &:active {
              font-size: 16px;
              line-height: 23px;
              background: $blue-color;
            }
          }
        }
      }
    }

    .select-channel {
      z-index: 10;
      width: 165px;
      padding-bottom: 30px;

      button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5px;
        padding: 10px;
        position: relative;
        transition: all 0.2s ease-out;

        &:hover {
          background: #2b5e92;
        }

        &:active {
          background: #9cb8d3;
        }
      }

      button::after {
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 7L5 1L1 7' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 10px;
        width: 10px;
        transform: rotateZ(180deg);
      }

      button:hover::after {
        transform: rotateZ(0deg);
      }

      &__menu {
        position: relative;

        .channels-list {
          display: none;
          position: absolute;
          right: 0;
          padding: 10px;
          margin-top: 10px;
          background: $white-color;
          border: 1px solid rgba(33, 73, 114, 0.6);
          box-sizing: border-box;
          box-shadow: 0px 4px 4px rgba(134, 134, 134, 0.4),
          0px -1px 4px rgba(134, 134, 134, 0.1);
          border-radius: 5px;
          max-height: 450px;
          overflow: hidden;
          overflow-y: auto;

          &__item {
            font-family: "Noto Sans";
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 23px;
            color: $black-color;

            display: flex;
            align-items: center;
            gap: 5px;

            cursor: pointer;

            &:not(:last-child) {
              margin-bottom: 5px;
            }

            &:hover {
              color: $blue-color;
            }

            &::before {
              content: "";
              height: 2px;
              width: 10px;
              background-color: $blue-color;
              display: none;
            }

            &:hover::before {
              display: block;
            }
          }
        }
      }
    }

    button.selected {
      height: 47px;
    }

    .select-channel:hover .select-channel__menu > .channels-list {
      display: block;
    }

    button {
      font-family: "Noto Sans", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 23px;
      color: #ffffff;
      padding: 10px 20px;
      background: #214972;
      box-shadow: 0px 3px 4px rgb(125 125 125 / 25%),
      0px -3px 4px rgb(125 125 125 / 10%);
      border-radius: 5px;

      &.no-selected {
        background: rgba(33, 73, 114, 0.6);
        font-size: 14px;
        line-height: 22px;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-bottom: 30px;
  }
}
